<app-header></app-header>
<ion-content padding>
  <ion-card [ngClass]="{'is-on': appareil.isOn, 'is-off': !appareil.isOn}">
    <ion-card-header>{{appareil.name}}</ion-card-header>
    <ion-card-content>
      <p *ngFor="let line of appareil.description">{{line}}</p>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            full
            color="danger"
            [disabled]="!appareil.isOn"
            (click)="onToggleAppareil()"
          >
            Eteindre
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            full
            color="secondary"
            [disabled]="appareil.isOn"
            (click)="onToggleAppareil()"
          >
            Allumer
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button full color="success" (click)="saveToStorage(appareil)">
            Save
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            full
            color="warning"
            (click)="deleteFromStorage(appareil)"
          >
            Delete
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
